@import '~bulma';
@import '~bulma-timeline';

body {
  padding: 1rem;
}

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;

  .input-username {
    border-color: #dbdbdb;

    &__error {
      border-color: #ef5350;
    }
  }
}

.gh-username {
  img {
    width: 32px;
    border-radius: 100%;
    vertical-align: middle;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
  }
}

.profile {
  img {
    border-radius: 100%;
  }
}

.is-hidden-container {
  display: none;
}
